<div class="container px-4">
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" routerLink="/show-reel-list" >Back to list</button>
        </div>
    </div>

    <form [formGroup]="showReelForm" (ngSubmit)="onSubmit()">
        <div class="row mt-3">
            <label for="name" class="col-2 col-form-label">Name</label>
            <div class="col-6">
                <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="row mt-3">
            <label for="description" class="col-2 col-form-label">Description</label>
            <div class="col-6">
                <input type="text" class="form-control" formControlName="description">
            </div>
        </div>
        <div class="row mt-3">
            <label for="videoDefinition" class="col-2 col-form-label">Video Definition</label>
            <div class="col-6">
                <select class="form-select" aria-label="Video Definition" formControlName="videoDefinition">
                    <option selected value="0">Select</option>
                    <option *ngFor="let videoDefinition of videoDefinitions" value="{{videoDefinition.value}}">
                        {{videoDefinition.key}}</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <label for="videoStandard" class="col-2 col-form-label">Video Standard</label>
            <div class="col-6">
                <select class="form-select" aria-label="Video Standard" formControlName="videoStandard">
                    <option selected value="0">Select</option>
                    <option *ngFor="let videoStandard of videoStandards" value="{{videoStandard.value}}">
                        {{videoStandard.key}}</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <label class="col-2 col-form-label">Total Duration (HH:MM:ss:ff)</label>
            <div class="col-6">
                {{ totalTime.ToString }}
            </div>
        </div>

        <br><br>
        <div class="row mt-3">
            <div class="col-3">
                <h5>Video Clips</h5>
            </div>
        </div>

        <div formArrayName="videoClips" class="row p-3 border">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Time Code</th>
                        <th>End Time Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let videoClip of videoClips.controls; let i = index" [formGroupName]="i">
                        <td> <input id="videoClipName-{{i}}" formControlName="videoClipName" type="text"
                                class="form-control"></td>
                        <td> <input id="videoClipDescription-{{i}}" formControlName="videoClipDescription" type="text"
                                class="form-control"></td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text">HH:</span>
                                <input id="videoStartHH-{{i}}" formControlName="videoStartHH" type="number"
                                    class="form-control" placeholder="HH" aria-label="Hours">
                                <span class="input-group-text">MM:</span>
                                <input id="videoStartMM-{{i}}" formControlName="videoStartMM" type="number"
                                    class="form-control" placeholder="MM" aria-label="Minutes">
                                <span class="input-group-text">ss:</span>
                                <input id="videoStartSS-{{i}}" formControlName="videoStartSS" type="number"
                                    class="form-control" placeholder="ss" aria-label="Seconds">
                                <span class="input-group-text">ff:</span>
                                <input id="videoStartFF-{{i}}" formControlName="videoStartFF" type="number"
                                    class="form-control" placeholder="ff" aria-label="Frames">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text">HH:</span>
                                <input id="videoEndHH-{{i}}" formControlName="videoEndHH" type="number"
                                    class="form-control" placeholder="HH" aria-label="Hours">
                                <span class="input-group-text">MM:</span>
                                <input id="videoEndMM-{{i}}" formControlName="videoEndMM" type="number"
                                    class="form-control" placeholder="MM" aria-label="Minutes">
                                <span class="input-group-text">ss:</span>
                                <input id="videoEndSS-{{i}}" formControlName="videoEndSS" type="number"
                                    class="form-control" placeholder="ss" aria-label="Seconds">
                                <span class="input-group-text">ff:</span>
                                <input id="videoEndFF-{{i}}" formControlName="videoEndFF" type="number"
                                    class="form-control" placeholder="ff" aria-label="Frames">
                            </div>
                        </td>
                        <td><button *ngIf="videoClips.length>1" type="button" class="btn btn-warn"
                                (click)="removeClip(i)">X</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row mt-3">
            <div class="col-2">
                <button type="button" class="btn btn-secondary" (click)="AddVideoClip()">Add Clip</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-5" [disabled]="!showReelForm.valid">Submit</button>
    </form>

</div>